In [4]:
import os
import numpy as np
import pandas as pd

In [10]:
dir = "data/China_Agreement"
# Read in files
df1 = pd.read_csv("ceo-China-Provinces-Apr-Nov-2019-(Set-1)-sample-data-2022-06-02.csv")
df2 = pd.read_csv("ceo-China-Provinces-Apr-Nov-2019-(Set-2)-sample-data-2022-06-02.csv")

# Set column names
CROP_PROB = "Does this point fall within active cropland?"
LAT = "lat"
LON = "lon"

# Combine csv and clean
df = pd.concat([df1, df2])
df = df.dropna(subset=[LON, LAT, CROP_PROB])
df = df.round({LON: 8, LAT: 8})
df[CROP_PROB] = df[CROP_PROB].replace({'Crop' : 1, 'Non-crop' : 0})

# Group matching (lat, lon) and take the mean of the crop probabilities
df = df.groupby([LON, LAT], as_index=False, sort=False).agg({CROP_PROB: "mean"})

# Output
df = df.reset_index(drop=True)
#df.to_csv("<processed csv path>", index=False)
df

             lon        lat  Does this point fall within active cropland?
0     130.275244  47.162288                                           1.0
1     128.428126  49.558058                                           1.0
2     127.028775  46.228362                                           1.0
3     126.770407  47.587364                                           1.0
4     126.888400  48.567531                                           0.0
...          ...        ...                                           ...
1570  124.739013  41.622138                                           0.5
1571  132.290265  46.964584                                           0.0
1572  123.867603  45.326468                                           0.0
1573  128.424515  43.549428                                           1.0
1574  121.400133  38.969860                                           0.0

[1575 rows x 3 columns]